<div id="space-footer-wrapper">
    <div id="space-instagram-footer-wrapper" class="clearfix" data-autorotate="false" data-rotatedelay="8000">
    </div>
    <div id="space-copyrights-footer-wrapper" class="clearfix">
        <div id="space-copyrights-footer" class="clearfix">
            <div class="footer-copyrights-column column-to-left">
                <div class="footer-copy-text">
                    <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} All right reserved. Proudly published with <a href="https://ghost.org">Ghost</a>.
                </div>
            </div>
            <div class="footer-copyrights-column column-to-right">
                <div class="footer-social-wrapper ">
                    <div class="social-btns clearfix">
                        {{> includes/social}}
                    </div>
                </div>
                <div class="footer-back-to-top ">
                    <a id="back-top-btn" title="Back to top" href="index.html#">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF #space-footer-wrapper -->
