{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<body class="home page loading">
  <div id="space-site-wrapper" class="clearfix">
    <div id="space-site" class="clearfix">
        {{#is "paged"}}
            {{> header extraclass="always-filled"}}
        {{else}}
            {{> header}}
        {{/is}}
        <div class="header-bottom-border"></div>

        {{^is "paged"}}
        {{! Featured posts only show on the first page }}
        {{> index/slider}}
        <div id="space-body-wrapper">
        {{else}}
        <div id="space-body-wrapper" style="padding-top: 75px;">
        {{/is}}
        {{! The main content area on the homepage }}
            <div id="space-recipes-wrapper" class="clearfix boxed">
                <div id="space-recipes" class="clearfix isotope-wrapper ">
                  {{! The tag below includes the post loop - partials/post/loop.hbs }}
                  {{> "index/loop"}}
                </div>
            </div>
            {{pagination}}
        </div>
        <!-- END OF #space-body-wrapper -->
        {{> footer}}
    </div>
    <!-- END OF #space-site -->
    {{> includes/twitter-aside}}
    {{> includes/mobile-nav}}
    {{> includes/search-aside}}
    {{> includes/preload-wrapper}}
  </div>
  <!-- END OF #space-site-wrapper -->
