<div id="space-mobile-navigation-wrapper">
    <div class="mobile-navigation-header clearfix">
        <a id="close-mobile-navigation-btn" title="Close aside" href="index.html#">
            <i class="fa fa-times"></i>
        </a>
        <div class="mobile-navigation-social-wrapper">
            <div class="social-btns clearfix">
                {{> includes/social}}
            </div>
        </div>
    </div>
    <div class="mobile-navigation-body clearfix">
        <div class="navigation-wrapper">
          {{navigation}}
        </div>
    </div>
</div>
<!-- END OF #twophat-aside-wrapper -->
