<div id="space-overlay-deactivator"></div>
<div id="space-preloader-wrapper">
	<div id="space-preloader">
		<div class="preloader-header">
			<h1 class="text-logo">{{@sitetitle}}</h1>
		</div>
		<div class="preloader-body">
			<div class="preloader-progress-wrapper">
				<div class="preloader-progress" data-loaded="0"></div>
			</div>
			<p>{{@sitedescription}}</p>
		</div>
	</div>
</div>
<!-- END OF #space-preloader-wrapper -->
