<div id="twophat-overlay-deactivator"></div>
<div id="twophat-preloader-wrapper">
	<div id="twophat-preloader">
		<div class="preloader-header">
			<h1 class="text-logo">{{@site.title}}</h1>
		</div>
		<div class="preloader-body">
			<div class="preloader-progress-wrapper">
				<div class="preloader-progress" data-loaded="0"></div>
			</div>
			<p>{{@site.description}}</p>
		</div>
	</div>
</div>
<!-- END OF #twophat-preloader-wrapper -->
