<div id="twophat-search-wrapper">
    <div class="search-header clearfix">
        <a id="close-search-btn" title="Close aside" href="#">
            <i class="fa fa-times"></i>
        </a>
        <div class="search-social-wrapper">
            <div class="social-btns clearfix"><a class="apple-btn" href="http://themeforest.net/item/grain-knot-food-blog-wordpress-theme/14331591?ref=7CS" target="_blank"><i class="fa fa-apple"></i></a><a class="dribbble-btn" href="http://themeforest.net/item/grain-knot-food-blog-wordpress-theme/14331591?ref=7CS"
                    target="_blank"><i class="fa fa-dribbble"></i></a><a class="dropbox-btn" href="http://themeforest.net/item/grain-knot-food-blog-wordpress-theme/14331591?ref=7CS" target="_blank"><i class="fa fa-dropbox"></i></a></div>
        </div>
    </div>
    <div class="search-body clearfix">
        <div class="search-form-wrapper">
            <form id="aside-search-form" class="clearfix">
                <div class="form-row clearfix">
                    <input id="aside-search-query-input" class="search-query-input" type="text" value="" />
                    <label class="search-query-label" for="aside-search-query-input">What are You looking for?</label>
                </div>
                <div class="form-row clearfix">
                    <select class="search-type-select">
                        <option value="twophat-recipes">Recipes</option>
                        <option value="post">Posts</option>
                    </select>
                    <input type="submit" value="Search" />
                </div>
            </form>
        </div>
        <div id="search-response-wrapper">
        </div>
    </div>
</div>
<!-- END OF #twophat-aside-wrapper -->
