{{#if @blog.facebook}}
<a class="instagram-btn" href="https://instagram.com/{{@sitefacebook}}" target="_blank"><i class="fa fa-instagram"></i></a>
<a class="facebook-btn" href="{{facebook_url @blog.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
<a class="gplus-btn" href="https://plus.google.com/+{{@sitefacebook}}" target="_blank"><i class="fa fa-google-plus"></i></a>
{{/if}}
{{#if @blog.twitter}}
<a class="twitter-btn" href="{{twitter_url @blog.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
{{/if}}
