<a class="instagram-btn" href="https://instagram.com/TwoPhatDacks" target="_blank"><i class="fa fa-instagram"></i></a>
<a class="facebook-btn" href="https://facebook.com/twophatdacks" target="_blank"><i class="fa fa-facebook"></i></a>
<a class="twitter-btn" href="https://twitter.com/twophatdacks" target="_blank"><i class="fa fa-twitter"></i></a>
<a class="gplus-btn" href="https://plus.google.com/+TwoPhatDacks" target="_blank"><i class="fa fa-google-plus"></i></a>
