{{#if @site.facebook}}
<a class="instagram-btn" href="https://instagram.com/{{@site.facebook}}" target="_blank"><i class="fa fa-instagram"></i></a>
<a class="facebook-btn" href="{{facebook_url @site.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
{{/if}}
{{#if @site.twitter}}
<a class="twitter-btn" href="{{twitter_url @site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
{{/if}}
