<div id="twophat-aside-wrapper">
    <div class="aside-header clearfix">
        <a id="close-aside-btn" title="Close aside" href="#">
            <i class="fa fa-times"></i>
        </a>
        <div class="aside-social-wrapper">
          <div class="social-btns clearfix">
            {{> includes/social}}
          </div>
        </div>
    </div>

    <div class="aside-body clearfix">
        <div class="widget dark-widget clearfix widget_twophat_twitter_feed">
            <div class="widget-title">
                <h4>Twitter Feed</h4></div>
                {{> includes/separator}}
            <a class="twitter-timeline" href="https://twitter.com/twophatdacks" data-widget-id="733262776450179072" data-chrome="nofooter noheader noborders trasparent noscrollbar">Tweets by @twophatdacks</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>
<!-- END OF #twophat-aside-wrapper -->
