@media print {

  * {
    background: #fff;
    color: #000;
  }

  html {
    font-size: 100%/1.5;
  }

  #space-header-wrapper,
  #space-footer-wrapper,
  #space-single-header-classic,
  #adjacent-posts-wrapper,
  #space-single-wrapper #space-single .related-recipes-wrapper,
  .widget_twophat_recipes,
  #space-single-wrapper #space-single .post-author-wrapper
  {
     display: none;
   }
  #space-site.clearfix {
    background-color: #fff;
  }
}
